table{

width:100%;

border-collapse:collapse;

background:white;

margin-top:20px;

box-shadow:0 2px 10px rgba(0,0,0,.1);

}

th{

background:#16a34a;

color:white;

padding:15px;

}

td{

padding:12px;

text-align:center;

border-bottom:1px solid #ddd;

}

tr:hover{

background:#f8fafc;

}