<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register | Environment Monitoring System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/register.css') }}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<div class="container">

    <!-- Left Side -->

    <div class="left">

        <div class="overlay">

            <h1>Environment Monitoring System</h1>

            <p>

                Create your account and monitor
                Air Quality, Water Quality,
                Pollution Levels and AQI Prediction.

            </p>

        </div>

    </div>

    <!-- Right Side -->

    <div class="right">

        <form action="/register" method="POST">

            <h2>Create Account</h2>

            <p class="subtitle">
                Register to continue
            </p>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}

            <div class="message {{ category }}">
                {{ message }}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="input-box">

                <i class="fa-solid fa-user"></i>

                <input
                type="text"
                name="name"
                placeholder="Full Name"
                required>

            </div>

            <div class="input-box">

                <i class="fa-solid fa-envelope"></i>

                <input
                type="email"
                name="email"
                placeholder="Email Address"
                required>

            </div>

            <div class="input-box">

                <i class="fa-solid fa-lock"></i>

                <input
                type="password"
                name="password"
                placeholder="Password"
                required>

            </div>

            <div class="input-box">

                <i class="fa-solid fa-lock"></i>

                <input
                type="password"
                name="confirm_password"
                placeholder="Confirm Password"
                required>

            </div>

            <button type="submit">

                Register

            </button>

            <div class="register">

                Already have an account?

                <a href="{{ url_for('login') }}">

                    Login

                </a>

            </div>

        </form>

    </div>

</div>

</body>

</html>